
 @charset"utf-8";
* { margin:0px auto; }

 /* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text--transparent {
  fill: transparent;
}

.anim-shape {
  -webkit-transform-origin: 0x 150px;
  -ms-transform-origin: 0x 150px;
  transform-origin: 0x 150px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  -ms-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 3s infinite alternate;
  animation: moving-panel 5s infinite alternate;
}

.colortext .anim-shape:nth-child(1) {
  fill: #0E1826;
}

.colortext .anim-shape:nth-child(2) {
  fill: #166973;
}

.colortext .anim-shape:nth-child(3) {
  fill: #65BFA6;
}

.colortext .anim-shape:nth-child(4) {
  fill: #F2CD5C;
}

.colortext .anim-shape:nth-child(5) {
  fill: #F26444;
}

.shadow {
  -webkit-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}

@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

@keyframes moving-panel {
  10% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}


header {
  background: #EEE;
  font: 12em/1 Open Sans, Impact;
  text-transform: uppercase;
 width:100%; 
 overflow:hidden; 
 background:#252932;
 margin-bottom:2px;
}

svg {
  position: static;
  width: 100%;
  height: 100%;
}
.wrapper {
	width:auto; /* Establecemos que el ancho sera del 90% */
	max-width:auto; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
*{box-sizing:border-box;}

		.footer{
			width:95%;
			max-width:900px;
			padding:32px 64px;
			margin:auto;
		}

		.social{
			
			width:40px;
			position:fixed;
			top:50px;
			right:0;
      font-size: 250%
		}

		/* Extra centrado vertical*/

		.social{
			/*border:1px solid #000;*/
			top:50%;
			height:205px;
			margin-top:-100px;

     }
		}

.social :hover {
   
    text-decoration: none;
    -webkit-transition:all -500ms ease;
    -o-transition:all -500ms ease;
    transition:all -500ms ease; /* Establecemos una transición a todas las propiedades */
  }